  <!-- la plantilla de inicio para mostrar a los usuarios registrados -->
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
      <span class=".content h2">Bienvenido, {{ username }}!</span>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter">
        <i class="fas fa-assistive-listening-systems"></i>
        <span class="count-numbers">65 dBA</span>
        <span class="count-name">NPS</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
        <i class="fas fa-signal"></i>
        <span class="count-numbers">50</span>
        <span class="count-name">NCB</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
          <i class="fas fa-signal"></i>
        <span class="count-numbers">68 dB</span>
        <span class="count-name">SIL</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter">
        <i class="fa fa-database"></i>
        <span class="count-numbers"></span>
        <span class="count-name">Histórico</span>
      </div>
    </div>
  </div>
</div>


{% endblock %}