  <!-- formulario de inicio de sesión creado con HTML5 y CSS3 -->
  {% extends "base_template.html" %}
  {% block title %}Bienvenido - Conciencia sonora{% endblock %}
  {% block content %}
            <div class="login">
              <h1>Conciencia Sonora</h1>  
              <div class="links">
                  <a href="{{ url_for('login') }}" class="active">Iniciar sesión</a>
                  <a href="{{ url_for('register') }}">Registráte</a>
              </div>
              <form action="{{ url_for('login') }}" method="post">
                  <label for="username">
                      <i class="fas fa-user"></i>
                  </label>
                  <input type="text" name="username" placeholder="Usuario" id="username" required>
                  <label for="password">
                      <i class="fas fa-lock"></i>
                  </label>
                  <input type="password" name="password" placeholder="Contraseña" id="password" required>
                  <div class="msg">{{ msg }}</div>
                  <input type="submit" value="Iniciar">    
              </form>
            </div>
            <div class="forgot">
                    <a href="#" style="text-decoration:none; color:white">Olvidaste tu contraseña?</a>
            </div>
{% endblock %}