  <!-- la plantilla de perfil para mostrar a los usuarios registrados -->
{% extends 'layout.html' %}
{% block title %}Perfil - Conciencia Sonora{% endblock %}
{% block content %}
<h2>Mi perfil</h2>
<div>
    <p>Los detalles de la cuenta son:</p>
    <table>
        <tr>
            <td>Usuario:</td>
            <td>{{ account[1] }}</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account[3] }}</td>
        </tr>
    </table>
</div>
{% endblock %}